[submodule "Z80Emu"]
	path = Z80Emu
	url = https://github.com/maxkofler/Z80Emu
[submodule "Z80Asm"]
	path = Z80Asm
	url = https://github.com/maxkofler/Z80Asm
[submodule "Log"]
	path = Log
	url = https://github.com/maxkofler/Log
